html, body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    color: white !important;
    background-color: #131110;
}

.bg-light {
    background-color: #0c0a09 !important;
}

.navbar-nav a {
    color: white !important;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover {
    color: #473b3b !important;
}


.navbar-brand {
    position: relative;
    opacity: 0.8;
}

.navbar-brand-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.navbar-brand-overlay:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
}

.navbar-toggler {
    background-color: #473b3b;
}

.page-header {
    font-size: 1.25rem;
    color: white;
    font-weight: lighter;
}

.fancy {
    color: white;
    font-size: 90px;
    font-family: 'Dancing Script', cursive;
}

.page-header span {
    color: #473b3b;
    transition: all 0.9s ease;
    transition-delay: 0.3s;
}

.page-header span.fade {
    color: white;
    opacity: 1;
}

.bg-img-lp {
    background-image: url('../img/bg-pizza.jpg');
    background-position: center;
    background-size: cover;
}

.bg-img-order {
    background-image: url('../img/bg-order.jpg');
    background-position: center;
    background-size: cover;
}

.bg-img-shadow {
    padding-top: 10rem;
    background-color: rgba(0,0,0, 0.5);
    height: 100vh;
}

.bg-img-shadow-order {
    padding-top: 10rem;
    background-color: rgba(0,0,0, 0.5);
}

.icons-style {
    text-decoration: none;
    color: lightgray;

    margin: 0 12px;
}

.icons-style:hover {
    color: gray;
}

.about-us img {
    border-radius: 5px;
}

.about-us p {
    margin-top: 30px;
    font-size: 20px;
    margin-right: 40px;
}

.offer {
    position: relative;
    margin-top: 30px;
}

.offer-image {
    width: 100%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateY(0);
    cursor: pointer;
}

.image-overlay > .image-title {
    transform: translateY(20px);
    transition: transform 0.3s;
}

.image-overlay:hover > .image-title {
    transform: translateY(0px);
}

.image-overlay:hover {
    opacity: 1;
}

.image-title {
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
}

footer {
    padding: 1rem;
}

.contact {
    margin-top: 50px;
    font-size: 18px;
}

.contact a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.location {
    margin-top: 100px;
}

.location-map {
    width: 100%;
    height: 50vh;
    opacity: 0.7;
}

h1 {
    font-size: 30px;
}

.btn {
    border: 1px solid #473b3b;
    background-color: #473b3b;
    color: white;
}

.btn:hover {
    border: 1px solid #392f2f;
    background-color: #392f2f;
    color: white;
}

.order {
    margin-top: 150px;
}

.menu-h1 {
    font-size: 50px;
}

.menu-title {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

.menu-description {
    font-size: 20px;
}

.menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

.price {
    margin-bottom: 0;
    display: inline;
    margin-right: 10px;
}

.order-btn {
    color: white;
    border: 1px solid #473b3b;
    background-color: #473b3b;
    border-radius: 6px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.order-btn:hover {
    border: 1px solid #392f2f;
    background-color: #392f2f;
}
