#first_reg{
    position: fixed;
    top: 50%;
    left: 50%;
    padding: .6rem 3rem 3rem;
    background-color: black;
    transform: translate(-50%, -50%);
    user-select: none;
    opacity: 0.99;
    z-index: 1;
    min-width: 30rem;
    min-height: 30rem;
    display: none;
    border-radius: 5px;
}

.header{
    height: 2rem;
    text-align: center;
    align-items: center;
}

#password{
    width: 22vw;
}

#first_reg input:focus, .first_reg div:focus-within #password,#register div:focus-within span{
    border-bottom-color: orangered;
}
.register-submit{
    box-sizing: content-box;
    height: 3.5vw;
    margin-bottom: 1vw;
    padding: 0 1vw;
    border: 0;
    border-radius: 2.5vw;
    background-color: orangered;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 0.2vw;
    cursor: pointer;
}

.other{
    display: block;
    text-align: center;
    height: 2vh;
    margin-top: 0.75vw;
    font-size: 1vw;
    color: grey;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}